<div class="container">
  <h1 class="mt-3 text-center">Formulario de sugerencia</h1>
  <form id="formSuggestion">
    <div class="mb-3">
      <label for="subject" class="form-label">Asunto: </label>
      <input
        type="text"
        class="form-control"
        id="subject"
        placeholder="Asunto"
        name="subject"
      />
    </div>
    <div class="mb-3">
      <label for="message" class="form-label">Mensaje: </label>
      <textarea
        class="form-control"
        id="message"
        rows="3"
        placeholder="Mensaje"
        name="message"
      ></textarea>
    </div>
    <button type="submit" class="btn btn-success">Enviar</button>
  </form>
</div>
